/* GLOBALS */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size:30px;
}

h2 {
    font-size:24px;
}

h3 {
    font-size:20px;
}

p {
    font-size:16px;
}

a {
    font-size:16x;
    text-decoration:none;
}

.page-container {
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:0 auto;
}

.header {
    background-color:blue;
    width:90%;
}

.header__container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin:0 auto;
    height:100%;
    flex-direction:column;
}

.links a {
    color:black;
    margin-left:30px;
}

#name, .links {
    padding: 2px;
}

.main {
    width:90%;
    margin:0 auto;
}

.pic-container {
    display:flex;
    justify-content:center;
    margin:20px;
}

#pic {
    width:100%;
    max-width:500px;
}

.main-container {
    display:flex;
    flex-direction:column;
    max-width:1600px;
    margin:0 auto;
}

@media only screen and (min-width:1400px) {
    .main-container {
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
    }
}

.about-main {
    padding:10px;
    width:100%;
    max-width:600px;
}

.resume {
    transition:0.5s;
}

.resume img {
    width:100%;
}

.work-main {
    /* max-width:1400px; */
    margin:0 auto;
    width:100%;
}

.work-1 {
    background-color:#2a607c;
    margin:20px;
    transition:0.5s;
    max-width:900px;
    flex-direction:center;
}

.work-1 p {
    color:white;
    text-align:center;
    font-size:50px;
}

.work-1 img {
    margin-top:30px;
}

.work-2 {
    margin:20px;
    transition:0.5s;
    max-width:650px;
}

.work-3 {
    background-color:black;
    text-align:center;
    padding-bottom:30px;
    margin:20px;
    transition:0.5s;
    max-width:650px;
}

.work-3 p {
    color:gray;
    font-size:40px;
}


.work-1 img, .work-2 img, .work-3 img {
    width:100%;
}

.work-1:hover, .work-2:hover, .work-3:hover, .resume:hover {
    transition:0.5s;
    transform:scale(0.95);
}

@media only screen and (min-width:1400px) {
    .work-main div {
        display:inline-block;
    }
}

footer {
    width:90%;
}

.contact p {
    font-size:12px;
    padding:5px;
}
@media only screen and (min-width:550px) {
    .contact-links p {
        width:100%;
        display:inline;
    }
    .links a {
        font-size:20px;
    }
}

@media only screen and (min-width:850px) {
    .contact-links p {
        width:100%;
        display:inline;
        font-size:20px;
    }
    .links a {
        font-size:25px;
    }
}

@media only screen and (min-width:1200px) {
    .contact-links p {
        width:100%;
        display:inline;
        font-size:25px;
    }
    .contact h2 {
        font-size:40px;
        margin-bottom:5px;
    }
    #name {
        font-size:40px;
    }
    .links a {
        font-size:35px;
    }
}

.contact {
    display:flex;
    flex-direction:column;
    background-color:blue;
    align-items:center;
    height:100px;
    justify-content:center;
}

/* #name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    margin-top:10px;
    margin-left:20px;
}

.links {
    display:flex;
    right:8vh;
    flex-wrap:wrap;
    top:30px;
    position:absolute;
}

#about, #resume, #work {
    padding:5px;
    padding-right:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:10px;
    text-decoration:none;
    color:black;
    top:0px;
    transition:0.5s;
}

.contact {
    height:90px;
    position:absolute;
    left:25px;
    top:18px;
    text-align:center;
    left:275px;
}

#contact-main {
    height:90px;
    position:absolute;
    left:25px;
    top:28px;
    font-size:10px;
    text-align:center;
}

.contact h2 {
    font-size:10px;
    text-align:center;
    margin:5px;
    display:block;
} */
/*
#pic {
    position:absolute;
    display: block;
    top: 100px;
    height:500px;
    width:500px;
    z-index:-1;
    left:20px;
}

.resume {
    position:absolute;
    display:flex;
    height:500px;
    width:500px;
    right:20px;
    top:100px;
    background-color:yellow;
}

.resume h1 {
    display:inline-block;
    font-size:29px;
    height:50px;
    white-space:nowrap;
    position:absolute;
    right:6px;
}

.resume a {
    transition:0.5s;
}

.resume a img {
    position:relative;
    height:450px;
    width:500px;
    object-fit:cover;
    top:50px;
}

.main {
    display:block;
}

.about-main {
    position:absolute;
    background-color:aqua;
    left:540px;
    margin-top:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:500px;
    width:785px;
}

.about-main h1 {
    font-size:60px;
    margin-bottom:20px;
    text-align:center;
}

.about-main h2 {
    font-size:40px;
    margin:20px;
    text-align:center;
}

.about-main h3 {
    font-size:40px;
    margin-top:40px;
    text-align:center;
}

a:link {
    text-decoration:none;
}
  
a:visited {
    text-decoration:none;
}
  
a:hover {
    text-decoration:none;
    transition:0.5s;
    transform:scale(0.95);
}
  
a:active {
    text-decoration:none;
} 

.work-main {
    display:block;
    position:absolute;
    left:20px;
    top:620px;
}

.work-1 {
    position:absolute;
    left:400px;
    height:400px;
    background-color:black;
    text-align:center;
    border-bottom:100px;
    transition:0.5s;
}

.work-1:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-1 img {
    height:300px;
}

.work-1 h2 {
    color:gray;
    font-size:30px;
    margin-top:50px;
    padding-bottom:18px;
}

.work-2 {
    position:absolute;
    left:1325px;
    color:brown;
    height:400px;
    background-color:#2a607c;
    transition:0.5s;
}

.work-2:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-2 img {
    width:500px;
}

#thumbnail {
    height:262px;
}

.work-2 a h2 {
    text-align:center;
    font-size:40px;
    color:white;
}

.work-3 {
    height:400px;
    background-color:blue;
    transition:0.5s;
}

.work-3:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-3 img {
    height:400px;
    width:375px;
}

.footer {
    background-color:red;
    top:1080px;
    position:absolute;
    text-align:center;
} */