.header {
    height:80px;
    background-color:blue;
    text-align:center;
    margin-right: 20px;
    margin-left: 20px;
}

#name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:75px;
    margin-top:10px;
    margin-left:20px;
}

.links {
    display:flex;
    right:8vh;
    flex-wrap:wrap;
    top:30px;
    position:absolute;
}

#about, #resume, #work {
    padding:5px;
    padding-right:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    text-decoration:none;
    color:black;
    top:0px;
    transition:0.5s;
}

.contact {
    height:90px;
    position:absolute;
    left:25px;
    top:18px;
    text-align:center;
    left:275px;
}

#contact-main {
    height:90px;
    position:absolute;
    left:25px;
    top:28px;
    font-size:40px;
    text-align:center;
}

.contact h2 {
    font-size:15px;
    text-align:center;
    margin:5px;
    display:block;
}

#pic {
    position:absolute;
    display: block;
    top: 100px;
    height:500px;
    width:500px;
    z-index:-1;
    left:20px;
}

.resume {
    position:absolute;
    display:flex;
    height:500px;
    width:500px;
    right:20px;
    top:100px;
    background-color:yellow;
}

.resume h1 {
    display:inline-block;
    font-size:29px;
    height:50px;
    white-space:nowrap;
    position:absolute;
    right:6px;
}

.resume a {
    transition:0.5s;
}

.resume a img {
    position:relative;
    height:450px;
    width:500px;
    object-fit:cover;
    top:50px;
}

.main {
    display:block;
}

.about-main {
    position:absolute;
    background-color:aqua;
    left:540px;
    margin-top:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:500px;
    width:785px;
}

.about-main h1 {
    font-size:60px;
    margin-bottom:20px;
    text-align:center;
}

.about-main h2 {
    font-size:40px;
    margin:20px;
    text-align:center;
}

.about-main h3 {
    font-size:40px;
    margin-top:40px;
    text-align:center;
}

a:link {
    text-decoration:none;
}
  
a:visited {
    text-decoration:none;
}
  
a:hover {
    text-decoration:none;
    transition:0.5s;
    transform:scale(0.95);
}
  
a:active {
    text-decoration:none;
} 

.work-main {
    display:block;
    position:absolute;
    left:20px;
    top:620px;
}

.work-1 {
    position:absolute;
    left:400px;
    height:400px;
    background-color:black;
    text-align:center;
    border-bottom:100px;
    transition:0.5s;
}

.work-1:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-1 img {
    height:300px;
}

.work-1 h2 {
    color:gray;
    font-size:30px;
    margin-top:50px;
    padding-bottom:18px;
}

.work-2 {
    position:absolute;
    left:1325px;
    color:brown;
    height:400px;
    background-color:#2a607c;
    transition:0.5s;
}

.work-2:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-2 img {
    width:500px;
}

#thumbnail {
    height:262px;
}

.work-2 a h2 {
    text-align:center;
    font-size:40px;
    color:white;
}

.work-3 {
    height:400px;
    background-color:blue;
    transition:0.5s;
}

.work-3:hover {
    transition:0.5s;
    transform:scale(0.95);
}

.work-3 img {
    height:400px;
    width:375px;
}

.footer {
    background-color:red;
    top:1080px;
    position:absolute;
    text-align:center;
}
